.welcome-container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    h1 {
        padding: 10px;
    }

   .welcome-box {
       display: flex;
       align-items: center;
      flex-direction: column;
      button {
        width: 200px;
        height: 30px;
        background: crimson;
        border: none;
        outline: none;
        color: white;
        border-radius: 10px;
        cursor: pointer;
      }
   }
}